*{
    padding:  3px;
    margin:  0;
    box-sizing: border-box;
}

header{
    font-size: 15px ;
    background-color: #e06a9b;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}
.spanbusqueda{
    margin-bottom: 20px;
}
input{
    margin-bottom: 20px;
    padding-left: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.title{
    margin-top: 20px;
}
.personas{
    overflow-y: scroll;
}
.busqueda{
display: flex;
flex-direction: column;
align-items: center;
}
.fotopersona{
    width: 50px;
    border-radius:100%;
}
.users{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.info{
    margin-right: 100px;
}
.nombre h5{
    font-size: 20px;
}